services:
  lab:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: langchain-catalog-lab
    env_file:
      - .env
    working_dir: /app
    environment:
      - PYTHONPATH=/app
    volumes:
      - ./:/app
      - ./data:/app/data
      - ./storage:/app/storage
    command: ["python", "catalog/health/00_healthcheck.py"]

  api:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: langchain-catalog-api
    env_file:
      - .env
    working_dir: /app
    environment:
      - PYTHONPATH=/app
    volumes:
      - ./:/app
    command: uvicorn app.server.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"

  ollama:
    image: ollama/ollama:latest
    # ports:
    #   - "11434:11434"
    volumes:
      - ollama:/root/.ollama

volumes:
  ollama:
